html, body {
    height: 100%;
    background: darkgray;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    height: 100px;
    background: #faf9f9;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.main {
    flex-grow: 1;
}

.logo {
    max-width: 196px;
    max-height: 46px;
}

.logo__img {
    margin: 25px;
}


.nav {    
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 600;    
    flex-flow: row wrap;
    display: flex;
    justify-content:space-around;
    align-items: center;
}   

.nav__link { 
    margin: 10px;
    color: darkorange;  
    text-decoration: none;
}

.nav__link:hover {
    color: darkred;
}

.footer {
    height: 100px;
    background-color: black;
}

